# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

rfsd.sh
frf.sh
RFSD/readme.txt
RFSD/mccExcludedFiles.log
FTRAJ/mccExcludedFiles.log
FTRAJ/readme.txt
FTRAJ/requiredMCRProducts.txt
RFSD/requiredMCRProducts.txt
